<!--
 * header.html
 * 受信BOXや下書きなどのボタンを配置するテンプレート
 */
-->
<header>
	<h1>header</h1>
	<a href="#received" class="btn btn-primary btn-lg active" role="button">受信ボックス</a>
	<a href="#draft" class="btn btn-primary btn-lg active" role="button">下書き</a>
	<a href="#sended" class="btn btn-primary btn-lg active" role="button">送信済み</a>
	<a href="#" class="btn btn-primary btn-lg active" role="button">作成</a>
	<hr>
</header>