<!--
 * mainTemplate.html
 * メールのビュー本体
 */
-->
<div class="row">
	<div class="col-md-1" id="labelList">
		<h2>Label</h2>
	</div>
	<div class="col-md-2" id="receiveMailCollection">
		<input type="text" class="form-control" placeholder="search box" id="searchBox">
	</div>
	<div class="col-md-9" id="mainMail">
		<h2>メールビュー</h2>
	</div>
</div>
<hr>