<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone View Example</title>
    <style>
        .completed{
            text-decoration: line-through;
            color: gray;
        }
    </style>

    <script type="text/template" id="task-template">
        <input type="checkbox" class="toggle" <%= completed ? 'checked' : '' %> >
        <span class="<%= completed ? 'completed':'' %>">
        <%- title %>
        </span>
        <span class="delete">[×]</span>
    </script>
    <script src="../lib/js/underscore-min.js"></script>
    <script src="../lib/js/jquery-2.1.3.min.js"></script>
    <script src="../lib/js/backbone-min.js"></script>
    <script src="../lib/js/json2.js"></script>
    <!--<script src="../view/view.js"></script>-->

</head>

<body>
<h1>Tasks</h1>
<form id="addTask">
    <input type="text" id="title">
    <input type="submit" value="add">
    <span id="error"></span>
</form>
<div id="tasks">
</div>
<p>Tasks left: <span id="count"></span></p>
<script src="../model/app.js"></script>
</body>
</html>